[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
django = "*"
pymysql = "*"
pytube = "*"
pygame = "*"
pydub = "*"
celery = "*"
redis = "*"
django-environ = "*"
django-model-utils = "*"
eyed3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
